{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
    <!--Prevent color flashing start-->
    <!--Write the code at the top here-->
    <style>

        html[data-theme="light"]{
            background: #efeff1;
        }
        html[data-theme="dark"]{
            background: #0a0a0c;
        }
    </style>
    <!--js to prevent color flashing-->
    <script>
        (function(){
            const storageKey = "theme";
            function setTheme(darkmode){
                document.documentElement.setAttribute("data-theme", darkMode ? "dark" : "light");
            }
            const mql = window.matchMedia("(prefers-color-scheme:dark)");
            const storedTheme = localStorage.getItem(storageKey);
            const darkMode = storedTheme ? JSON.parse(storedTheme) : mql.matches;
            setTheme(darkMode);
            localStorage.setItem(storageKey, darkMode);
        })();
    </script>
    <!--Prevent color flashing end-->
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="{% static './CSS/style.css' %}">
    <link rel="stylesheet" href="{% static './CSS/main.css' %}">
    <!--odometer CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.min.css" integrity="sha512-/k/mL9TQSZHAqtVqXJAiy5bt2w1P7gxdra0UlnFjVHF9a/LC2vxt7otx3BMcn79V/DZsPRwdw8tPlwbElMnIAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--HighlightsJS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!--Swiper CDN-->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--GSAP CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <!--Navbar start-->
    <nav id="navbar" class="flex__center">
        <div class="logo">
            <img src="{% static './assets/logo.svg'%}" alt="">
        </div>
        <div class="flex nav__routes">
            <a href="/index" class="route active">Home</a>
            <a href="/about" class="route">About</a>
            <a href="/services" class="route">Services</a>
            <a href="/projects" class="route">Projects</a>
            <a href="/testimonials" class="route">Testimonials</a>
            <a href="/contact" class="route">Contact</a>
        </div>
        <div class="flex__center">
            <label class="theme__toggle">
                <input type="checkbox" id="theme-checkbox">
                <div class="icon__container">
                    <i data-lucide="sun" class="sun"></i>
                    <i data-lucide="moon" class="moon"></i>
                </div>
            </label>
            <div class="icon__container menu__btn" id="menu__btn">
                <i data-lucide="menu"></i>
            </div>
        </div>
    </nav>
    <!--Navbar start-->
    
    <!--Sidebar start-->
    <aside class="sidebar">
        <div class="sidebar__wrapper">
            <div class="flex__center top">
                <div class="logo">
                    <img src="{% static './assets/logo.svg'%}" alt="">
                </div>
                <div class="icon__container" id="close-sidebar-btn">
                    <i data-lucide="x"></i>
                </div>
            </div>
            <div class="middle navlinks" id="navlinks">
                <a href="/index" class="navitem active">Home</a>
                <a href="/about" class="navitem">About</a>
                <a href="/services" class="navitem">Services</a>
                <a href="/projects" class="navitem">Projects</a>
                <a href="/testimonials" class="navitem">Testimonials</a>
                <a href="/contact" class="navitem">Contact</a>
            </div>
        </div>
    </aside>

    <!--Sidebar end-->
    {% block body %}


    {% endblock body %}

    <!--Footer start-->
    <footer id="footer">
        <div class="spotlight"></div>
        <div class="container">
            <div class="grid">
                <div class="col-2 column">
                    <div class="logo">
                        <img src="{% static './assets/logo.svg'%}" alt="">
                    </div>
                    <p class="text__muted description">
                        Crafting responsive, high-performance websites 🌐 with clean code 💻 and a user-focused approach 👥. Let’s build something amazing together 🚀.
                    </p>
                    <div class="flex social__handles">
                        <a href="#" target="_blank" class="icon__container handle">
                            <i data-lucide="github"></i>
                        </a>
                        <a href="#" target="_blank" class="icon__container handle">
                            <i data-lucide="youtube"></i>
                        </a>
                        <a href="#" target="_blank" class="icon__container handle">
                            <i data-lucide="linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="icon__container handle">
                            <i data-lucide="twitter"></i>                        </a>
                    </div>
                </div>
                <div class="column">
                    <h3 class="group__name">Hot Links</h3>
                    <div class="routes__container">
                        <a href="/index" class="route__item">Home</a>
                        <a href="/about" class="route__item">About</a>
                        <a href="/services" class="route__item">Services</a>
                        <a href="/projects" class="route__item">Projects</a>
                        <a href="/testimonials" class="route__item">Testimonials</a>
                        <a href="/contact" class="route__item">Contact</a>
                    </div>

                </div>
                <div class="column">
                    <h3 class="group__name">Hot Links</h3>
                    <div class="routes__container">
                        <a href="#" class="route__item">Privacy Policy</a>
                        <a href="#" class="route__item">Terms and Conditions</a>
                        <a href="#" class="route__item">Cookies Policy</a>
                    </div>

                </div>
            </div>
            <div class="copyright">
                <h3>Copyright &copy; 2024 Hesborn Anyandarua. All rights reserved.</h3>
                <p class="text__muted">
                    Built with love by Hesborn Anyandarua A.K.A code__culture
                </p>
            </div>
        </div>
    </footer>
    <!--Footer end-->

    <script src="{% static 'mixitup.min.js'%}"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script src="{% static './main.js' %}"></script>
</body>
</html>