{% extends 'base.html' %}
{% load static %}
    <!--Header section start-->
    {% block title %}
        Home
    {% endblock title %}
    
   {% block body %}
    <section id="header" class="bg__secondary">
        <div class="spotlight"></div>
        <div class="container">
            <div class="area">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            {% for detail in details %}
            <div class="grid">
                <div class="me">
                    <img src="{{detail.myimage.url}}" alt="">

                </div>
            
                <div class="user__info">
                        <h2 class="sub__title">Hi 👋, I'm Hesborn Nyang'ara</h2>
                        <h1 class="title">Fullstack <span class="primary">Web Developer</span><br>Based in Kenya</h1>
                        <p class="description">{{detail.paragraph}}</p>
                    <div class="flex buttons">
                        <div class="flex social__handles">
                            <a href="#" target="_blank" class="icon__container handle">
                                <i data-lucide="github"></i>
                            </a>
                            <a href="#" target="_blank" class="icon__container handle">
                                <i data-lucide="youtube"></i>
                            </a>
                            <a href="#" target="_blank" class="icon__container handle">
                                <i data-lucide="linkedin"></i>
                            </a>
                            <a href="#" target="_blank" class="icon__container handle">
                                <i data-lucide="twitter"></i>                       
                            </a>
                        </div>
                        <a href="/contact" class="btn btn__primary">Contact Me</a>
                    </div>
                </div>

                <div class="points">
                    <div class="spotlight"></div>
                    <!--points start-->
                    <div class="point">
                        <div class="flex">
                            <div class="sub__title" id="experience"></div>
                            <h3 class="counter sub__title" data-target="{{detail.experience}}">{{detail.experience}}+</h3>
                        </div>
                        <p class="text__muted">Years of Experience</p>
                    </div>
                    <!--points end-->
                    <!--points start-->
                    <div class="point">
                        <div class="flex">
                            <div class="sub__title" id="project"></div>
                            <h3 class="counter sub__title" data-target="{{detail.completedprojects}}">{{detail.completedprojects}}+</h3>
                        </div>
                        <p class="text__muted">Completed projects</p>
    
                    </div>
                    <!--points end-->
                    <!--points start-->
                    <div class="point">
                        <div class="flex">
                            <div class="sub__title" id="awards"></div>
                            <h3 class="counter sub__title" data-target="{{detail.awards}}">{{detail.awards}}🏆+</h3>
                        </div>
                        <p class="text__muted">Awards</p>
    
                    </div>
                    <!--points end-->
                    <!--points start-->
                    <div class="point">
                        <div class="flex">
                            <div class="sub__title" id="clients"></div>
                            <h3 class="counter sub__title" data-target="{{detail.clients}}">{{detail.clients}}+</h3>
                        </div>
                        <p class="text__muted">Clients Worldwide</p>
    
                    </div>
                    <!--points end-->
                   
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <br>
    
{% endblock body %}

<!--Header section end-->