{% extends 'base.html' %}
{% load static %}
    {% block title %}
        Projects
    {% endblock title %}
    
   {% block body %}
   <section id="projects">
    <div class="container">
        <div class="section__header">
            <h2 class="sub__title">My Recent Projects</h2>
            <p class="description">
                Explore my latest work, blending creativity and code for functional, responsive websites with clean design and seamless user experiences.
            </p>
        </div>
        <div class="my-projects">
            <ul class="projects__categories">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".frontend">Frontend</li>
                <li data-filter=".backend">Backend</li>
                <li data-filter=".fullstack">Fullstack</li>
            </ul>
            <div class="projects">
                <!--project start-->
                <div class="mix frontend project">
                    <a href="#" target="_blank" class="picture">
                        <img src="{% static './assets/project1.png'%}" alt="">
                    </a>
                    <div class="flex details">
                        <h3 class="line__clamp__1">
                            Create the ultimate Animated Portfolio
                        </h3>
                        
                        <p class="text__muted description line__clamp__4">
                            Showcase your skills and creativity with a standout animated
                            portfolio on YouTube. Capture attention, highlight your work,
                            and leave a lasting impression with engaging visuals and dynamic
                            storytelling!
                        </p>
                        <div class="flex button">
                            <a href="#" target="_blank" class="flex__center btn" >
                                <i data-lucide="square-arrow-out-up-right"></i>View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <!--project end-->
                <!--project start-->
                <div class="mix backend project">
                    <a href="#" target="_blank" class="picture">
                        <img src="{% static './assets/project2.png'%}" alt="">
                    </a>
                    <div class="flex details">
                        <h3 class="line__clamp__1">
                            Designer portfolio with nextjs
                        </h3>
                        <p class="text__muted description line__clamp__4">
                            A sleek and modern designer portfolio built with Next.js,
                            showcasing responsive design, fast performance, and seamless
                            navigation. Perfect for creative professionals looking to
                            display their work in style
                        </p>
                        <div class="flex button">
                            <a href="#" target="_blank" class="flex__center btn" >
                                <i data-lucide="square-arrow-out-up-right"></i>View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <!--project end-->
                <!--project start-->
                <div class="mix fullstack project">
                    <a href="#" target="_blank" class="picture">
                        <img src="{% static './assets/project3.png'%}" alt="">
                    </a>
                    <div class="flex details">
                        <h3 class="line__clamp__1">
                            Build Modern Animated Video Conferencing Web App With ReactJs
                        </h3>
                        <p class="text__muted description line__clamp__4">
                            Create a cutting-edge, animated video conferencing web app using
                            ReactJS and ZegoCloud. This project combines real-time
                            communication with sleek design, delivering a smooth,
                            interactive user experience for virtual meetings.

                        </p>
                        <div class="flex button">
                            <a href="#" target="_blank" class="flex__center btn" >
                                <i data-lucide="square-arrow-out-up-right"></i>View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <!--project end-->
                <!--project start-->
                <div class="mix frontend project">
                    <a href="#" target="_blank" class="picture">
                        <img src="{% static './assets/project4.png'%}" alt="">
                    </a>
                    <div class="flex details">
                        <h3 class="line__clamp__1">
                            Modern solar website
                        </h3>
                        <p class="text__muted description line__clamp__4">
                            Develop a modern solar energy website designed for clean,
                            sustainable solutions. Featuring a sleek interface, responsive
                            design, and user-friendly navigation, this site highlights the
                            power and efficiency of solar technology.

                        </p>
                        <div class="flex button">
                            <a href="#" target="_blank" class="flex__center btn" >
                                <i data-lucide="square-arrow-out-up-right"></i>View Demo
                            </a>
                        </div>
                    </div>
                </div>
                <!--project end-->
            </div>
        </div>
    </div>
</section>
<!--projects section end-->

{% endblock body %}

