{% extends 'base.html' %}

    
    {% block title %}
        Services
    {% endblock title %}
    
   {% block body %}
   <!--Services section start-->
   <section id="services" class="bg__secondary">
    <div class="container">
        <div class="section__header">
            <h2 class="sub__title">
                My <span class="primary">Services</span>
            </h2>
            <p class="description">
                As a fullstack developer, I create modern, responsive, and user-friendly websites that are both visually appealing and efficient.

            </p>
        </div>
        <div class="services">
            <!--service start-->
            <div class="service">
                <div class="flex__center circle">
                    <div class="spotlight"></div>
                    <div class="icon__container">
                        <i data-lucide="smartphone"></i>
                    </div>
                </div>
                <h3 class="name">Responsive Web Design</h3>
                <p class="text__muted description">
                    Crafting visually appealing and fully responsive websites that
                    adapt seamlessly to any device, ensuring an excellent user
                    experience on desktops, tablets, and smartphones.
                </p>
                <div class="flex__center">
                    <a href="#contact" class="btn">
                        Let's Talk<i data-lucide="arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--service end-->
            <!--service start-->
            <div class="service">
                <div class="flex__center circle">
                    <div class="spotlight"></div>
                    <div class="icon__container">
                        <i data-lucide="code"></i>
                    </div>
                </div>
                <h3 class="name">Custom Web Development</h3>
                <p class="text__muted description">
                    Building dynamic, interactive web applications tailored to your
                    specific needs, using modern frontend technologies to create
                    scalable and maintainable solutions.
                </p>
                <div class="flex__center">
                    <a href="#contact" class="btn">
                        Let's Talk<i data-lucide="arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--service end-->
            <!--service start-->
            <div class="service">
                <div class="flex__center circle">
                    <div class="spotlight"></div>
                    <div class="icon__container">
                        <i data-lucide="pencil-ruler"></i>
                    </div>
                </div>
                <h3 class="name">UI/UX Optimization</h3>
                <p class="text__muted description">
                    Enhancing user engagement with intuitive and aesthetically
                    pleasing interfaces, prioritizing performance, accessibility, and
                    smooth navigation for optimal user satisfaction.

                </p>
                <div class="flex__center">
                    <a href="#contact" class="btn">
                        Let's Talk<i data-lucide="arrow-right"></i>
                    </a>
                </div>
            </div>
            <!--service end-->
        </div>
    </div>
</section>
<!--Services section end-->
    
    {% endblock body %}

