{% extends 'base.html' %}

    
    {% block title %}
        Services
    {% endblock title %}
    
   {% block body %}
   <!--Services section start-->
   <section id="services" class="bg__secondary">
    <div class="container">
        <div class="section__header">
            <h2 class="sub__title">
                My <span class="primary">Services</span>
            </h2>
            <p class="description">
                As a fullstack developer, I create modern, responsive, and user-friendly websites that are both visually appealing and efficient.

            </p>
        </div>
        
        <div class="services">
            {% for item in myservices %}
            <!--service start-->
            <div class="service">
                <div class="flex__center circle">
                    <div class="spotlight"></div>
                    <div class="icon__container">
                        <i data-lucide="{{item.icon}}"></i>
                    </div>
                </div>
                <h3 class="name">{{item.service}}</h3>
                <p class="text__muted description">
                    {{item.servicedesc}}
                </p>
                <div class="flex__center">
                    <a href="/contact" class="btn">
                        Let's Talk<i data-lucide="arrow-right"></i>
                    </a>
                </div>
                
            </div>
            <!--service end--> 
            {% endfor %}
            {% comment %} <a href="/contact" class="btn btn__primary">
                More<i data-lucide="arrow-right"></i>
            </a> {% endcomment %}
            
        </div>
    </div>
</section>
<!--Services section end-->
    
    {% endblock body %}

