{% extends 'base.html' %}
{% load static %}
    
{% block title %}
    Testimonials
{% endblock title %}

{% block body %}
   <!--Testimonials section start-->
   <section id="testimonials">
    <br><br><br>
        <div class="section__header">
            <h2 class="sub__title">
                What My <span class="primary">Clients</span> Say
            </h2>
        </div>
        <div class="swiper testimonials">
            <div class="swipper__wrapper">
                {% for slide in myclients %}
                <!--slide start-->
                <div class="testimonial swiper-slide">
                    <div class="flex user">
                        <div class="profile">
                            <img src="{{slide.clientimg.url}}" alt="">
                        </div>
                        <div class="details">

                            <h3 class="name">{{slide.clientname}}</h3>
                            <div class="flex row">
                                <p class="text__muted position">{{slide.clientposition}}</p>
                                <p class="primary company">{{slide.clientcompany}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="text__muted content">
                        {{slide.clientview}}
                    </p>
                    <br>
                    <div class="flex__center stars__container">
                        <i data-lucide="star"></i>
                        <i data-lucide="star"></i>
                        <i data-lucide="star"></i>
                        <i data-lucide="star"></i>
                        <i data-lucide="star"></i>
                    </div>
                </div>
                <!--slide end-->
                {% endfor %}
            </div>
        </div>
    </section>
<!--Testimonials section end-->
{% endblock body %}
