{% extends 'base.html' %}
{% load static %}
    
{% block title %}
    Testimonials
{% endblock title %}

{% block body %}
   <!--Testimonials section start-->
    <section id="testimonials">
        <div class="section__header">
            <h2 class="sub__title">
                What My <span class="primary">Clients</span> Say
            </h2>
            <div class="swiper testimonials">
                <div class="swipper__wrapper">
                    {% for client in myclients %}
                    <!--slide start-->
                    <div class="testimonial swiper-slide" style="--position: 1">
                        <div class="flex user">
                            <div class="profile">
                                <img src="{{client.clientimg.url}}" alt="">
                            </div>
                            <div class="details">

                                <h3 class="name">{{client.clientname}}</h3>
                                <div class="flex row">
                                    <p class="text__muted position">{{client.clientposition}}</p>
                                    <p class="primary company">{{client.clientcompany}}</p>
                                </div>
                            </div>
                        </div>
                        <p class="text__muted content">
                            {{client.clientview}}
                        </p>
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                        <div class="flex__center stars__container">
                            <i data-lucide="star"></i>
                            <i data-lucide="star"></i>
                            <i data-lucide="star"></i>
                            <i data-lucide="star"></i>
                            <i data-lucide="star"></i>
                        </div>
                        {{client.creation_date}}
                    </div>
                    <!--slide end-->
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </section>


<!--Testimonials section end-->
{% endblock body %}
