
/*==============NAVBAR START========*/
#navbar{
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: fit-content;
    z-index: 100;
    background: rgba(var(--bg-secondary-rgb), 0.5);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
}
#navbar.drop{
    position: fixed;
    animation: drop 1s;
}
@keyframes drop{
    0% {
        top: -100%;
    }
    100% {
        top: 20px;
    }
}

#navbar .nav__routes{
    align-items: center;
    gap: 30px;
}
#navbar .route{
    font-size: 16px;
    font-weight: 700;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
#navbar img{
    width: 2.5rem;
    height: 2.5rem;
}
#navbar .route.active{
    color: var(--color-primary);
}
#navbar .menu__btn{
    display: none;
}

#navbar .theme__toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar .theme__toggle input{
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}
#navbar .theme__toggle .sun,
#navbar .theme__toggle .moon{
    transform: scale(0);
    transition: var(--transition);
    color: var(--text-color);
}
#navbar .theme__toggle input:not(:checked) ~ .icon__container .sun{
    transform: scale(1);
}
#navbar .theme__toggle input:checked ~ .icon__container .moon{
    transform: scale(1);
}
@media only screen and (max-width:700px){
    #navbar{
        max-width: 100%;
        width: 90%;
    }
    #navbar .nav__routes{
        display: none;
    }
    #navbar .menu__btn{
        display: flex;
    }
}
/*==============NAVBAR END========*/

/*==============SIDEBAR START========*/
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    height: 0;
    width: 100%;
    background: rgba(var(--bg-secondary-rgb), 0.8);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    transition: var(--transition);
    overflow: hidden;
    border-radius: var(--radius-2);
}
.sidebar.visible{
    height: 100%;
    width: 100%;
}
.sidebar .sidebar__wrapper{
    padding: 1rem;
   
}
.sidebar .top{
    justify-content: space-between;
}
.sidebar .navitem{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);

}
.sidebar .navitem:hover,
.sidebar .navitem.active{
    color: var(--color-primary);
}
/*==============SIDEBAR END========*/

/*==============HEADER START========*/

#header >.spotlight{
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#header .container{
    min-height: 100vh;
    padding-top: 120px;
    overflow: visible;
}
#header .grid{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}
#header .description{
    font-size: 20px;
    line-height: 25px;
}
#header .buttons{
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

#header .social__handles .icon__container{
    background: var(--bg-base);
}
#header .social__handles{
    gap: 15px;
}
#header .points {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: rgba(var(--bg-base-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 2rem;
    border-radius: var(--radius-2);
}
#header .point .flex{
    align-items: center;
    gap: 5px;
}
#header .points .spotlight{
    width: 40%;
    height: 90px;
    right: 0;
}
#header img{
    height: 400px;
    width: 350px;
    border-radius: 40px 20px 20px 20px;
    box-shadow:var(--border-shadow);
}

/* Reponsive code */
@media only screen and (min-width: 1500px){
    #header .container{
        min-height: auto;
    }
    
}
@media only screen and (max-width: 900px){
    #header .grid{
        grid-template-columns: 100%;
      
    }

    #header .me{
        order: 2;
        max-width: 400px;
        margin: auto;
    }
    #header .user__info{
        order: 1;
    }
    #header .title,
    #header .sub__title,
    #header .description{
        text-align: center;
    }
    #header .buttons,
    #header .social__handles{
        justify-content: center;
    }
    #header .buttons{
        flex-direction: column;
    }
    
   
}
@media only screen and (max-width: 600px){
    #header .points{
        grid-template-columns: repeat(2, 1fr);
       
    }
    #header .points .flex{
        justify-content: center;
    }
    #header .points .text__muted{
       font-size: 10px; 
       text-align: center;
    }
   
}

/*==============HEADER END========*/

/*==============ABOUT START========*/
#about .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

#about .col-2{
    grid-column: span 2;
    
}


#about .box{
    background: var(--bg-secondary);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
#about .spotlight{
    width: 100px;
    right: 0;
}
#about .cluster{
    padding: 20px;
    position: relative;
    z-index: 2;
    gap: 20px;
}
#about .user{
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(var(--bg-base-rgb), 0.8);
    padding: 10px;
    border-radius: var(--radius-3);
}
#about .description{
    margin: 10px 0;
}

#about .btn__primary{
    position: absolute;
    text-align: center;
    bottom: 25px;
    color: var(--text-color);
    font-weight: 600;
    box-shadow: var(--border-shadow);
    background: rgba(var(--bg-secondary-rgb), 0.5);
    border-radius: var(--radius-4);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
    overflow: hidden;
    width: fit-content;
}


#about .btn__primary:hover{
    color: var(--color-primary);
    text-shadow:  0 0 15px var(--color-primary), 0 0 40px var(--color-primary);
}

#about .btn__primary::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(var(--color-primary), transparent, transparent);
    transition: 0.5s, top 0s, left 0s;
}
#about .btn__primary:hover::before{
    opacity: 1;
}

#about .code__block{
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    overflow: hidden;
    height: fit-content;
}
#about .hljs{
    display:block;
    padding: 20px;
    margin-bottom: -15px;
    background: rgba(var(--bg-base-rgb), 0.6);
    color: var(--color-primary);
}
#about .hljs-string{
    color: #008000;
}
#about .code__block .dot__container{
    height: 50px;
    justify-content: flex-start;
    padding: 0 20px;
    border-bottom: var(--gray-border);
    border-width: 0.5px;
    background: rgba(var(--bg-base-rgb), 0.6);
}
#about .code__block .dot{
    width: 0.7rem;
    height: 0.7rem;
    min-width: 0.7rem;
    min-height: 0.7rem;
    max-width: 0.7rem;
    max-height: 0.7rem;
    border-radius: var(--radius-5);
    background: var(--success);
}
#about .code__block .dot:nth-child(1){
    background: var(--danger); 
}
#about .code__block .dot:nth-child(2){
    background: var(--warning);
}
#about .my__drive{
    flex: 1;
    padding: 20px;
    border-radius: var(--radius-3);
    background: rgba(var(--bg-secondary-rgb), 0.5);
    box-shadow: var(--border-shadow);
}
#about .kit{
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
#about .kit .grid__box{
    left: 0;
}

#about .kit .card__ui{
    width: 200px;
    height: 200px;
    right: 10px;
    bottom: -20px;
}

#about .stacks__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-shadow: var(--border-shadow);
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    mask-image: linear-gradient(
        to right,
        var(--bg-secondary)20%,
        var(--bg-secondary)80%,
        var(--bg-secondary)
        
    );
    
}
#about .stack{
    background: rgba(var(--bg-base-rgb), 0.8);
    box-shadow: var(--border-shadow);
    left: max(calc(200px * 3), 100%);
    animation: scroll 10s linear infinite;
    
}
#about .stack img{
    height: 20px;
    width: 20px;
}
#about .last__box img{
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
   
}
#about .last__box .sub__title{
    text-align: center;
}
#about .last__box .btn__wrapper{
    margin: 30px;
}
#about .last__box .btn{
    background: #222;
    color: var(--color-white);
    text-align: center;
    border-radius: 0;
    border: solid 1px transparent;
    border-image: linear-gradient(
        45deg, 
        var(--color-primary-accent),
        var(--color-primary-accent),
        var(--color-primary),
        #f0cb35
        )
        1;
}
@keyframes scroll{
    to{
        
        transform: translateX(calc(-50% - 4rem)); 
    }
}
/* Responsive code*/
@media only screen and (max-width:900px){
    #about .self__start{
        align-self: flex-start;

    }
    #about .row{
        flex-direction: column;
    }

}
@media only screen and (max-width:768px){
    #about .grid{
        grid-template-columns: 100%;
    }
    #about .col-2{
        grid-column: span 1;
    }
    
}
@media only screen and (max-width:550px){
    #about .stacks__container{
        grid-template-columns: repeat(2, 1fr);
    }
    #about .stacks__container .btn{
        gap: 5px;
        padding: 5px 10px;
        font-size: 14px;
    }
}

/*==============ABOUT END========*/

/*==============SERVICE START========*/
#services > .container{
    margin-top: 40px;
    position: relative;
    z-index: 2;
   
}
#services .section__header{
    margin-top: 20px;
}
#services .sub__title{
    text-align: center;
}
#services .services{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}
#services .service{
    padding: 50px 20px;
    background: rgba(var(--bg-base-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    overflow: hidden;
    border-radius: var(--radius-3);
    border: var(--gray-border);
    border-width: 0.5px;
}
#services .circle{
    width: 5rem;
    height: 5rem;
    margin: auto;
    border: var(--gray-border);
    border-radius: var(--radius-5);
    margin-bottom: 40px;
    position: relative;
}
#services .circle > .spotlight{
    width: 40%;
}
#services .icon__container{
    border: var(--gray-border);
    font-size: 30px;
    background: var(--bg-base);
}
#services .name,
#services .description{
    text-align: center;
    margin-bottom: 20px;
}
#services .btn{
    border: var(--gray-border);
    border-color: var(--color-primary);
    border-width: 0.5px;
    background: rgba(var(--bg-base-rgb), 0.5);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--color-primary);
}
#services .btn:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

#services .more{
    display: block;
    margin: auto;
    width: fit-content;
    align-items: center;
    margin-bottom: 25px;
} 

#services .more span{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#services .more:hover{
    color: var(--color-white);
    background:  var(--color-primary-light);
}  

@media only screen and (max-width: 900px){
    #services .services{
        grid-template-columns: (2, 1fr);
    }
    
}
@media only screen and (max-width: 600px){
    #services .services{
        grid-template-columns: 100%;
    }
}

/*==============SERVICE END========*/

/*==============PROJECTS START========*/
#projects{
    background-color: var(--color-primary);
    background-image:url( "../assets/bg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
   
}
#projects .projects__categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2.5rem;
    flex-wrap: wrap;
   
}


#projects .projects__categories li{
    padding: 15px 25px;
    border-radius: var(--radius-2);
    font-weight: 600;
    color: var( --color-primary-light);
    font-size: 16px;
    cursor: pointer;
    background: var(--bg-secondary);
    transition: var(--transition);
    list-style: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

}

#projects .projects__categories li:hover,
#projects .projects__categories li.filter-active{
    color: var(--color-white);
    background:  var(--color-primary-light);
}
#projects .projects__categories li:first-child {
    margin-left: 0;
  }
  
  #projects .projects__categories li:last-child {
    margin-right: 0;

  }
  @media (max-width: 575px) {
    #projects .projects__categories li {
      font-size: 14px;
      margin: 0 5px;
    }
  }
  
#projects .section__header{
    color: var(--color-white);
}
#projects .projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 900px;
    margin: auto;
   
}
#projects .section__header{
    margin-top: 20px;
}
#projects .project,
#projects .details{
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
}

#projects .project{
    background: var(--bg-secondary);
    overflow: hidden;
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
   
}
#projects .picture{
    overflow: hidden;
}
#projects img{
    transition: var(--transition);
    height: 100%;
}
#projects .project:hover img{
    transform: scale(1.1);
}
#projects .details{
    flex: 1;
    padding: 20px;
}
#projects .description{
    flex: 1;
    font-size: 16px;
    margin-top: 10px;
}
#projects .bottom{
    margin-top: 20px;
}

#projects a span{
    display: none;
}

#projects a:hover span{
    display: block;
}

#projects .pages{
    height: 50px;
    position: relative;
    background: #444343;
    box-shadow: var(--border-shadow);
    width: fit-content;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    flex-wrap: wrap;
}

#projects .pages li{
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
#projects .pages li a{
    position: relative;
    padding: 20px 25px;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
}
#projects .pages li a:hover,
#projects .pages li.active a{
    background: #ffffff33;
    
}
@media (max-width: 575px) {
    #projects .pages{
        flex-wrap: wrap;
        width: 90%;
    }
    #projects .pages li {
      font-size: 14px;
      gap: 5px;
    }
  }
/*Responsive code*/
@media only screen and (max-width: 600px){
    #projects .projects{
        grid-template-columns: 100%;
    }
}
/*==============PROJECTS END========*/

/*==============TESTIMONIALS START========*/
#testimonials{
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    background: rgba(var(--bg-secondary-rgb), 0.8);
}

#testimonials::before,
#testimonials::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    z-index: 2;
}
#testimonials::before{
    left: 0;
    background: linear-gradient(to left, transparent, var(--bg-secondary));
}
#testimonials::after{
    right: 0;
    background: linear-gradient(to right, transparent, var(--bg-secondary));
}
#testimonials .sub__title{
    text-align: center;
}
#testimonials .testimonials{
    margin-top: 50px;
    padding: 20px 0;
    position: static;
    height: 100%;
    
    
}


#testimonials .testimonials::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        to bottom,
        transparent,
        var(--bg-secondary),
        var(--bg-secondary),
        var(--bg-secondary),
        
    );
}

#testimonials .testimonial{
    height: auto;
    max-width: 60%;
    background: var(--bg-secondary);
    padding: 40px;
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-4);
    position: relative;
   

}

#testimonials .flex{
    align-items: center;
    gap: 10px;
}
#testimonials .user{
    margin-bottom: 30px;
}
#testimonials .name{
    font-size: 16px;
    font-weight: 500;
}
#testimonials .content{
    font-size: 16px;
    margin-bottom: 20px;
}
#testimonials .stars__container{
    justify-content: flex-start;
    position: absolute;
    bottom: 40px;
    left: 40px;
    
}


/*Responsive code*/
@media only screen and (max-width:767px){
    #testimonials .testimonial{
        padding: 20px;
    }
    #testimonials .testimonial p{
        font-size: 12px;
    }
    #testimonial .stars__container{
        bottom: 20px;
        left: 20px;
    }
}
@media only screen and (max-width:600px){
    #testimonials{
        padding: 50px 20px;
    }
    #testimonials .testimonial{
        max-width: 100%;
    }
    #testimonials .testimonial .row{
        flex-direction: column;
        align-items: stretch;
        gap: 0;
        text-align: left;

    }
}
/*==============TESTIMONIALS END========*/

/*==============CONTACT START========*/
#contact > .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}
#contact .box{
    background: var(--bg-secondary);
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-3);
    position: relative;
    overflow: hidden;
}
#contact .box:nth-child(1){
    margin-bottom: 30px;
}
#contact .box:nth-child(2){
    background-image: url("../assets/bg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#contact .cluster{
    padding: 20px;
    z-index: 2;
}
#contact .cluster .description{
    margin: 20px 0;
}
#contact img{
    position: absolute;
    z-index: 1;
    right: -10px;
    bottom: -110px;
    width: 50%;
    height:auto;
   
}
#contact .option{
    background: rgba(var(--bg-secondary-rgb), 0.8);
    width: fit-content;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: var(--radius-3);
}
#contact .option:hover .icon__container{
    transform: scale(1.1);
    color: var(--text-color);
}
#contact .contact__form{
    padding: 20px;
    width: 100%;
    background: var(--bg-secondary);
    box-shadow: var(--border-shadow);
    border-radius: var(--radius-3);
    overflow: hidden;
    position: relative;
}
#contact .spotlight{
    width: 170px;
    height: 100px;
    right: 0;
    bottom: -30px;
}
#contact .row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#contact .control{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: var(--radius-2);
    color: var(--text-color);
    font-size: 15px;
    overflow: hidden;
    transition: var(--transition);
    border: var(--gray-border);
    border-color: var(--color-primary);
    border-width: 2px;
    resize: none;
    height: 50px;
    background: transparent;
}
#contact .control:focus{
    border-color: var(--color-primary-light);
    background: rgba(var(--bg-base-rgb), 0.5);
}
#contact textarea.control{
    height: 130px;
}
#contact .submit__btn{
    display: block;
    width: fit-content;
    margin: auto;
}
@media only screen and (max-width:800px){
    #contact .container{
        grid-template-columns: 100%;
    }
}
/*==============CONTACT END========*/

/*==============FOOTER START========*/
#footer{
    background: var(--bg-secondary);
    border-radius: 50px 50px 0 0 ;
    box-shadow: var(--border-shadow);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
   
}
#footer .spotlight{
    bottom: -50px;
    left: -50px;
    height: 120px;
}
#footer .container{
    padding-bottom: 20px;
}
#footer .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
#footer img{
    height: 40px;
    width: 40px;
}
#footer .col-2{
    grid-column: span 2;
}
#footer .description{
    margin: 20px 0;
}
#footer .group__name{
    font-size: 16px;
    margin-bottom: 15px;
}
#footer .route__item{
    display: block;
    color: var(--color-muted);
    transition: var(--transition);
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
}
#footer .route__item:hover{
    color: var(--color-primary);
}
#footer .copyright{
    margin-top: 80px;
    text-align: center;
}
#footer .copyright h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:20px ;
    color: var(--color-primary);
}
@media only screen and (max-width:900px){
    #footer .grid{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
    }
    #footer .col-2{
        grid-column: span 1;
    }
}
@media only screen and (max-width:600px){
    #footer .grid{
        grid-template-columns: 100%;
    }
}
/*==============FOOTER END========*/


/*==============AUTHENTICATION START========*/
#auth{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: var(--bg-secondary);
}

#auth .main{
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#auth #chk{
    display: none;
}
#auth .signup{
    position: relative;
    width: 100%;
    height: 100%;
}
#auth label{
    color: var(--color-white);
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
}
#auth input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#auth button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;

}
#auth button:hover{
    background: var(--color-primary-light);
}

#auth .login{
    height: 460px;
    padding-top: 50px;
    padding-bottom: 100px;
    background: var(--color-white);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

#auth .login label{
    color:  var(--color-primary);
    transform: scale(.6);
}
#auth #chk:checked ~ .login{
    transform: translateY(-500px);
}

#auth #chk:checked ~ .login label{
    transform: scale(1);
}

#auth #chk:checked ~ .signup label{
    transform: scale(.6);
}
/*==============AUTHENTICATION END========*/

